html, body {
    margin:0;
    padding:0;
    background-color: #F6F6F6;
    /* width: 100%; */
    height: 100%;
}

body {
    display: flex;
    /* flex-flow: column; */
    /* height: 100%; */
    /* border: solid; */
    /* height: 100%; */
    /* display: flex; */
    /* justify-content: center; */
    /* overflow: hidden; */
    
}

.hover:hover {
    opacity: 50%;
    cursor: pointer;
}

/* LINKS */
a:link {
    color: #3444DE;
}
  
a:visited {
    color: #3444DE;
}

a:hover {
    opacity: 50%;
}

a:active {
    color: #3444DE;
}



/*/////// DIRECTORY CONTAINER ///////*/
#directContainer {
    display: flex;
    /* flex-direction: column; */
    /* flex-flow: column; */
    flex-wrap: wrap;
    /* flex: 0 1 auto; */
    width: 442px;
    /* min-width: 442px; */
    align-content: space-between;
    /* justify-content: center; */
    height: 100vh;
    /* padding: 0px 30px 0px 30px; */
    border-right: solid;
    /* overflow: scroll; */
    /* border: solid; */
}

#topContainer {
    width: 100%;
    border-bottom: solid;
    height: 150px;
    /* border: solid; */
}



#controlsContainer {
    display: flex;
    
    /* flex: 0 1 auto; */
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* margin: 20px 50px 20px 50px; */
    width: 100%;
    justify-content: center;
    /* padding: 20px 50px 20px 50px:  */
    /* border: solid; */
}

/* .filler {
    flex: 0 1 auto;
    width: 100%;
    border: solid;
} */

/* NAVIGATION BAR */
#navBar {
    display: flex;
    /* flex: 0 1 auto; */
    /* flex-direction: column; */
    font-family: sans-serif;
    font-size: 16px;
    /* margin-bottom: 20px; */
    /* width: 100%; */
    /* min-width: 85px; */
    color: #515151;
    padding: 10px 45px 10px 45px;
    border-bottom: solid;
    justify-content: space-between;
}

#home {
    color: #3444DE;
}

.nav {
    /* margin-left: 13px; */
    /* margin-bottom: 5px; */
}

/* NUMBER BUTTONS */
#numContainer {
    display: grid;
    /* flex-wrap: wrap; */
    grid-template-columns: repeat(auto-fill, 62px [col-start]);
    padding: 35px 35px 35px 35px;
    /* max-width: 413px; */
    justify-content: center;
    /* border: solid; */
}

.numButton {
    display: grid;
    margin: 2.5px;
    justify-items: center;
    align-items: center;
    /* border: solid; */
}

.num, .circle {
    grid-column: 1;
    grid-row: 1;
}

.num{
    font-family: 'EB Garamond', serif;
    font-size: 36px;
    text-align: center;
    color: #515151;
    width: 50px;
    height: 50px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    border-color: #F6F6F6;
    /* border-color: #515151; */
    border-width: 2px;
}

.numHover:hover {
    color: #F6F6F6;
}

.cirHover:hover {
    border-color: #3444DE;
    background-color: #3444DE;
}

.buttonDisabled{
    opacity: 50%;
}



.aboutContainer {
    display: flex;
    flex-flow: column;
    /* cursor: pointer; */
    color: #515151;
    width: 100%;
    border-top: solid;
    padding: 0px 0px 0px 0px;
    font-family: sans-serif;
    font-size: 16px;
    max-height: 100%;
    overflow: scroll;
    /* transition: max-height 0.2s ease-out; */
}

#aboutCollapsible {
    cursor: pointer;
}

.about {
    /* display: none; */
    /* max-height: 0; */
    padding: 40px 45px 0px 45px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    /* background-color: #f1f1f1; */
}

.aboutButton {
    color: #515151;
    padding: 10px 45px 10px 45px;
}
  


#prevNext {
    display: flex;
    font-family: sans-serif;
    font-size: 16px;
    justify-content: space-between;
    /* margin-top: 20px;
    margin-bottom: 30px; */
    padding: 0px 50px 40px 50px;
    /* border-bottom: solid; */
}

/* .previous, .next {
    border: solid;
    padding: 5px 10px 8px 10px;
} */

/*/////// DISPLAY CONTAINER ///////*/
#displayContainer {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
    /* width: 100%; */
    max-height: 100vh;
    /* flex-wrap: wrap; */
    /* border: solid; */
    /* background-color: #3444DE; */
}

.header {
    padding: 10px 0px 10px 0px;
    border-bottom: solid;
    /* position: fixed; */
    color: #515151;
    width: 100%;
}

#display {
    display: flex;
    /* flex-flow: column; */
}

/* GUIDE */
.guideContainer {
    /* display: flex; */
    
    /* border: solid; */
    /* height: 100%; */
    /* padding: 40px 40px 0px 40px; */
}

#guide {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: sans-serif;
    font-style: italic;
    border: solid;
    width: 210px;
    /* height: 100%; */
    padding: 20px;
    color: #515151;
    margin: 40px;
    overflow: scroll;
}

.guideText {
    font-size: 16px;
    display: flex;
}

.itemInfo {
    font-size: 16px;
    /* margin-left: 40px; */
}


/* CONTENT */

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    /* padding: 40px 0px 40px 0px; */
}


#contentContainer {
    /* box-sizing: border-box; */
    position: fixed;
    /* border: solid; */
    /* display: flex; */
    /* width: 100%; */
    padding: 0px 40px 0px 0px;
    /* flex-wrap: wrap; */
    /* position: relative; */
    /* height: 100%; */
    /* flex: 1; */
    /* flex-wrap: wrap; */
    /* flex: 0 1 auto; */
    /* overflow: scroll; */
    /* min-height: min-content; */
    /* flex-wrap: wrap; */
    /* max-width: 100%; */
    height: 100vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    /* width: 1200px; */
}

.content {
    display: flex;
    /* flex-wrap: wrap; */
    flex: 0 1 auto;
    overflow: scroll;
    flex-direction: column;
    margin: 40px 0px 60px 0px;
    /* height: 100%; */

    /* width: 100%; */
    /* width: 820px; */
}

.pageDescription {
    object-fit: contain;
    color: #515151;
}

.pageContent {
    margin: 0 0 30px 0;
}

.pageMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img, video, iframe {
    margin-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
}

.pageDescription {
    font-family: sans-serif;
    font-size: 16px;
}

.pageUpdate {
    border: solid;
    padding: 20px;
    margin: 0 30px 0 30px;
}


.iframeContainer {
    overflow: hidden;
    position: relative;
}
  
.iframeContainer iframe {
    height: 100%;
    max-width: 100%;
}


  
/*//////////////// MOBILE ////////////////*/
@media only screen and (max-width: 1010px) {
   
}

 /*//////////// PAGE ////////////*/

    /* img, video, iframe {
        margin-bottom: 10px;
    }
    
    .pageUpdate {
        margin: 0;
    } */

    /* PAGE EXIT */
    /* .pageExitBlack {
        height: 20px;
        width: 20px;
        top: 10px;
        left: 10px;
    }

    .pageExitWhite {
        height: 20px;
        width: 20px;
        top: 10px;
        left: 10px;
    } */

    /* PAGE NAVIGATION BUTTONS */
    /* .pageNavButton {
        margin: 0;
    }

    .leftArrow {
        height: 20px;
        width: 20px;
        margin-left: 15px;
    }

    .rightArrow {
        height: 20px;
        width: 20px;
        margin-right: 15px;
    } */