html, body {
    margin:0;
    padding:0;
}

/* MAIN CONTAINERS */
#mainContainer {
    display: flex;
    flex-direction: column;
    /* margin: 30px; */
}

.flexContainer {
    display: flex;
    justify-content: center;
    /* border: solid; */
}


.topContentContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    width: 768px;
    /* border: solid; */
}

.bottomContentContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    justify-content: start;
    width: 768px;
    margin-top: 8px;
    /* border: solid; */
}


/* NUMBER BUTTONS */
.numButton {
    display: grid;
    margin: 8px 5px 12px 5px;
}

.num, .circle {
    grid-column: 1;
    grid-row: 1;
}

.num{
    font-family: 'EB Garamond', serif;
    font-size: 64px;
    text-align: center;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid;
    border-width: 3px;
    border-color: black;
    margin-top: 2px;

}

.hover:hover {
    opacity: 50%;
    cursor: pointer;
}

/* NAVIGATION BAR */
#navContainer {
    font-family: sans-serif;
    font-size: 16px;
    margin-right: 40px;
    /* border: solid; */
}

#homeTrent {
    color: blue;
}

.nav {
    margin-left: 5px;
    margin-bottom: 5px;
}

#guideContainer {
    font-family: sans-serif;
    font-style: italic;
    font-size: 16px;
    /* border: solid; */
}

.guideText {
    margin-bottom: 5px;
}


/* PAGE */
.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    top: 48px;
    /* border: solid; */
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 0 1 auto;
    width: 900px;
    height: 700px;
    border: solid;
    border-width: 3px;
    background-color: white;
}

.pageExit {
    font-family: sans-serif;
    font-size: 16px;
    margin: 20px;
}

.pageContentContainer {
    display: flex;
    flex-direction: column;
    /* border: solid; */
}

.pageContent {
    margin: 0 80px 0 80px;
}

.titleContainer {
    display: flex;
    font-family: 'EB Garamond', serif;
    font-size: 64px;
    /* border: solid; */
}

.pageNum {
    margin-right: 30px;
}

.pageDescription {
    margin-top: 20px;
}

.pageNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap;
    flex: 0 1 auto; */
    margin-top: 20px;
    width: 768px;
    /* border: solid; */
}

.pageType, .pageDescription {
    font-family: sans-serif;
    font-size: 18px;
}

.pageNavButton {
    display: grid;
}

.triangle, .pageNavCircle {
    grid-column: 1;
    grid-row: 1;
}

.leftTri {
    width: 0;
	height: 0;
    margin: 13px 0 0 9px;
    
	border-top: 30px solid  transparent; 
	border-bottom: 30px solid  transparent; 
	border-right: 51.961524px solid black;
    /* font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 64px;*/
}

/* (border-left-width 50px + border-right-width 50px) * 0.8660254 = 86.60254px  border-bottom-width = EquilateralTriangle height */

.rightTri {
    width: 0;
	height: 0;
	margin: 13px 0 0 25px;
    
	border-top: 30px solid  transparent; 
	border-bottom: 30px solid  transparent; 
	border-left: 51.961524px solid black;
    /* font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: 64px;*/
}
