html, body {
    margin:0;
    padding:0;
}

body {
    display: flex;
    justify-content: center;
    
}

.hover:hover {
    opacity: 50%;
    cursor: pointer;
}

/* LINKS */
a:link {
    color: blue;
  }
  
a:visited {
color: blue;
}

a:hover {
    opacity: 50%;
}

a:active {
    color: blue;
}



/*/////// MAIN CONTAINERS ///////*/
#mainContainer {
    display: flex;
    flex-direction: column;
    /* position: fixed; */
    overflow: scroll;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* border: solid; */
}

.topContentContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    max-width: 846px;
    /* border: solid; */
}

.bottomContentContainer {
    display: flex;
    max-width: 846px;
    /* margin-top: 8px; */
    /* border: solid; */
}



/*/////// NUMBER BUTTONS ///////*/
.numButton {
    display: grid;
    
    margin: 8px 5px 12px 5px;
}

.num, .circle {
    grid-column: 1;
    grid-row: 1;
}

.num{
    font-family: 'EB Garamond', serif;
    font-size: 64px;
    text-align: center;
}

.circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid;
    border-color: white;
    border-width: 2px;
    margin-top: 2px;

}

.buttonDisabled{
    opacity: 50%;
}



/*/////// NAVIGATION BAR ///////*/
#navContainer {
    font-family: sans-serif;
    font-size: 16px;
    margin-right: 40px;
    /* border: solid; */
}

#homeTrent {
    color: blue;
}

.nav {
    margin-left: 13px;
    margin-bottom: 5px;
}

#guideContainer {
    font-family: sans-serif;
    font-style: italic;
    font-size: 16px;
    /* display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: auto;
    height: 50%; */
    /* border: solid; */
}

.guideText {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
    max-width: 500px;
    /* border: solid; */
}



/*//////////// PAGE ////////////*/
.pageBackground {
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 95%;
}

.pageContainer {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: scroll;
    /* border: solid; */
}

.pageContentContainer {
    display: flex;
    flex-direction: column;
    width: 820px;
    /* border: solid; */
}

.pageType {
    margin: 30px 0 10px 0;
    color: blue;
}

.titleContainer {
    display: flex;
    font-family: 'EB Garamond', serif;
    font-size: 36px;
    margin-bottom: 30px;
    /* border: solid; */
}

.pageDescription {
    object-fit: contain;
    /* border: solid; */
}

.pageContent {
    margin: 0 0 40px 0;
}

.pageMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img, video, iframe {
    margin-bottom: 20px;
    max-width: 100%;
    max-height: 100%;
}

.pageType, .pageDescription {
    font-family: sans-serif;
    font-size: 18px;
}

.pageUpdate {
    margin: 0 20px 0 20px;
}

/* PAGE EXIT */
.pageExitBlack {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2; 
}

.pageExitBlack::before,
.pageExitBlack::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px; /* cross thickness */
    background-color: black;
}

.pageExitBlack::before {
    transform: rotate(45deg);
}

.pageExitBlack::after {
    transform: rotate(-45deg);
}

.pageExitWhite {
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2; 
}

.pageExitWhite::before,
.pageExitWhite::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 2px; /* cross thickness */
    background-color: white;
}

.pageExitWhite::before {
    transform: rotate(45deg);
}

.pageExitWhite::after {
    transform: rotate(-45deg);
}

/* PAGE NAVIGATION BUTTONS */
.pageNavButton {
    display: flex;
    position: sticky;
    top: 0%;
    align-items: center;
    margin: 0 20px 0 20px;
    /* border: solid; */
}

.leftArrow {
    height: 58px;
    width: 58px;
    margin-left: 20px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: black;
    transform: rotate(45deg);
}

.rightArrow {
    height: 58px;
    width: 58px;
    margin-right: 20px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: black;
    transform: rotate(-45deg);
}


.iframeContainer {
    overflow: hidden;
    /* padding-top: 56.25%; 16:9 */
    position: relative;
  }
  
  .iframeContainer iframe {
     border: 0;
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     width: 100%;
  }


@media only screen and (m-width: 400px) {
    .circle{
        border-color: aquamarine;
    }
}