html, body {
    margin:0;
    padding:0;
    background-color: #F6F6F6;
}

body {
    display: flex;
    /* justify-content: center; */
    
}

.hover:hover {
    opacity: 50%;
    cursor: pointer;
}

/* LINKS */
a:link {
    color: #3444DE;
}
  
a:visited {
    color: #3444DE;
}

a:hover {
    opacity: 50%;
}

a:active {
    color: #3444DE;
}



/*/////// MAIN CONTAINERS ///////*/
#directContainer {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    max-width: 413px;
    min-width: 300px;
    align-content: space-between;
    height: 100vh;
    padding: 0px 30px 0px 30px;
    border-right: solid;
    /* overflow: scroll; */
    /* border: solid; */
}

.flexContainer {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    /* border: solid; */
}

.displayContainer {
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    /* border: solid; */
}

.topContentContainer {
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
    max-width: 413px;
    /* margin: 8px 8px 0 8px; */
    /* border: solid; */
}

.bottomContentContainer {
    /* display: flex; */
    /* border: solid; */
    height: 100%;
    padding: 0px 15px 0px 30px;
}

#aboutContainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 413px;
    /* border: solid; */
    margin-bottom: 30px;
    font-family: sans-serif;
    font-size: 16px;
}

#aboutDescription {
    margin-bottom: 30px;
}

#controlsContainer {
    margin-top: 30px;
    /* border: solid; */
}

#contentContainer {
    /* border: solid; */
    padding: 0px 30px 0px 15px;
    max-height: 100vh;
    overflow: scroll;
    display: flex;
    flex-wrap: wrap;
    /* max-width: 100%; */
}

#prevNext {
    display: flex;
    font-family: sans-serif;
    font-size: 16px;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 30px;
}

.itemInfo {
    font-size: 16px;
    /* margin-left: 40px; */
}

/*/////// NUMBER BUTTONS ///////*/
.numButton {
    display: grid;
    margin: 2.5px 2.5px 2.5px 2.5px;
    justify-items: center;
    align-items: center;
}

.num, .circle {
    grid-column: 1;
    grid-row: 1;
}

.num{
    font-family: 'EB Garamond', serif;
    font-size: 36px;
    text-align: center;
    color: #515151;
    width: 50px;
    height: 50px;
    /* border: solid; */
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    border-color: #F6F6F6;
    /* border-color: #515151; */
    border-width: 2px;
    /* margin-top: 2px; */

}

.buttonDisabled{
    opacity: 50%;
}

.numHover:hover {
    color: #F6F6F6;
}

.cirHover:hover {
    border-color: #3444DE;
    background-color: #3444DE;
}


/*/////// NAVIGATION BAR ///////*/
#navBar {
    display: flex;
    /* flex-direction: column; */
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
    min-width: 85px;
    /* border: solid; */
    justify-content: space-between;
}

#homeTrent {
    color: #3444DE;
}

.nav {
    /* margin-left: 13px; */
    /* margin-bottom: 5px; */
}

#guideContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: sans-serif;
    font-style: italic;
    border: solid;
    width: 210px;
    padding: 20px;
    color: #515151;
    margin-top: 85px;
}

.guideText {
    font-size: 16px;
    display: flex;
}



/*//////////// PAGE ////////////*/
.pageContentContainer {
    display: flex;
    
    flex-direction: column;
    margin: 85px 0px 65px 0px;
    /* width: 820px; */
}

.pageDescription {
    object-fit: contain;
    color: #515151;
}

.pageContent {
    margin: 0 0 30px 0;
}

.pageMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img, video, iframe {
    margin-bottom: 30px;
    max-width: 100%;
    max-height: 100%;
}

.pageDescription {
    font-family: sans-serif;
    font-size: 16px;
}

.pageUpdate {
    border: solid;
    padding: 20px;
    margin: 0 30px 0 30px;
}


.iframeContainer {
    overflow: hidden;
    position: relative;
}
  
.iframeContainer iframe {
    /* border: 0; */
    height: 100%;
    /* left: 0;
    position: absolute;
    top: 0; */
    max-width: 100%;
}

  
/*//////////////// MOBILE ////////////////*/
@media only screen and (max-width: 1010px) {
    body {
        display: block;
    }

    #directContainer {
        display: flex;
        /* flex-direction: column; */
        flex-wrap: wrap;
        max-width: 1010px;
        /* min-width: 300px; */
        align-content: start;
        height: 100%;
        padding: 0px 30px 0px 30px;
        border-right: none;
        border-bottom: solid;
        /* overflow: scroll; */
        /* border: solid; */
    }
    
    
    .topContentContainer {
        display: flex;
        flex-wrap: wrap;
        flex: 0 1 auto;
        max-width: 1010px;
        /* margin: 8px 8px 0 8px; */
        /* border: solid; */
    }
    
    #aboutContainer {
        visibility: hidden;
        display: none;
        flex-wrap: wrap;
        max-width: 1010px;
        /* border: solid; */
        margin-bottom: 30px;
        font-family: sans-serif;
        font-size: 16px;
    }
    
    #aboutDescription {
        margin-bottom: 30px;
    }
    
    #controlsContainer {
        margin-top: 30px;
        /* border: solid; */
    }

    #guideContainer {
        display: flex;
        flex-wrap: wrap;
        /* flex-direction: column; */
        font-family: sans-serif;
        font-style: italic;
        border: solid;
        width: 210px;
        max-width: 210px;
        padding: 20px;
        color: #515151;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .guideText {
        font-size: 16px;
        display: flex;
    }

    .bottomContentContainer {
        /* position: ; */
        /* background-color: #3444DE; */
    }

    #contentContainer {
        /* border: solid; */
        padding: 0px 30px 0px 15px;
        height: 100%;
        overflow: visible;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .pageContentContainer {
        display: flex;
        
        flex-direction: column;
        margin: 30px 0px 0px 0px;
        /* width: 820px; */
    }

    #prevNext {
        display: flex;
        font-family: sans-serif;
        font-size: 16px;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 30px;
        
    }
}

@media only screen and (max-width: 700px) {
    .displayContainer {
        flex-direction: column;
        /* border: solid; */
    }

    .bottomContentContainer {
        /* position: ; */
        padding: 0px 30px 0px 30px;
        /* background-color: #3444DE; */
        /* border: solid; */
    }

    /* #guideContainer {
        display: flex;
        flex-wrap: wrap;
        font-family: sans-serif;
        font-style: italic;
        border: solid;
        width: 600px;
        padding: 20px;
        color: #515151;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .guideTitle {
        display: flex;
        width: 100%;
        white-space: nowrap;
    }

    .guideText {
        font-size: 16px;
        display: flex;
        width: 100px; 
    }*/
   
}


 /*//////////// PAGE ////////////*/

    /* img, video, iframe {
        margin-bottom: 10px;
    }
    
    .pageUpdate {
        margin: 0;
    } */

    /* PAGE EXIT */
    /* .pageExitBlack {
        height: 20px;
        width: 20px;
        top: 10px;
        left: 10px;
    }

    .pageExitWhite {
        height: 20px;
        width: 20px;
        top: 10px;
        left: 10px;
    } */

    /* PAGE NAVIGATION BUTTONS */
    /* .pageNavButton {
        margin: 0;
    }

    .leftArrow {
        height: 20px;
        width: 20px;
        margin-left: 15px;
    }

    .rightArrow {
        height: 20px;
        width: 20px;
        margin-right: 15px;
    } */